{
    'env':{
        'browser': true,
        'node': true,
        'es6': true,
        'mocha': true
    },
    'rules': {
        'quotes': [2, 'single'],
        'no-extra-semi': 2,
        'semi': [2, 'always']
    },
    'globals':{
    },
    'extends': 'eslint:recommended',
    'parserOptions': {,
        'sourceType': 'module',
    },
}
